---
---

@import "{{ site.theme }}";

#forkme_banner{ display: none !important; }

.btn {
  display: none !important;
  text-align: justify;
}

p {
  margin: 15px 0;
  text-align: justify;
}

img {
  padding-right: 10px;
}
